<!-- start custom head snippets -->
<!-- <meta name="theme-color" content="#ffffff"> -->

<!-- end custom head snippets -->
<!-- <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Serif:400,700,400italic" rel="stylesheet"
    type="text/css"> -->


<!-- <script type="text/x-mathjax-config">
   MathJax.Hub.Config({
     extensions: ["tex2jax.js"],
     jax: ["input/TeX", "output/HTML-CSS"],
     tex2jax: {
       inlineMath: [ ['$','$'], ["\\(","\\)"] ],
       displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
       processEscapes: true,
       preview: 'none'
     },
     messageStyle: 'none',
     "HTML-CSS": { availableFonts: ["Times New Roman"] }
   });

</script> -->
<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Serif:400,700,400italic" rel="stylesheet"
    type="text/css">

<!-- <style>
    .bg-color-red {
        background-color: #ffebee;
        font-family: 'Playfair Display', serif;
    }

    .bg-color-green {
        background-color: #e8f5e9;
        font-family: 'Playfair Display', serif;
    }

    .bg-color-yellow {
        background-color: #fff3e0;
        font-family: 'Playfair Display', serif;
    }

    .bg-color-dark-green {
        background-color: #c8e6c9;
        font-family: 'Playfair Display', serif;
    }

    .bg-color-pink {
        background-color: #ffcdd2;
        font-family: 'Playfair Display', serif;
    }

    .bg-color-purple {
        background-color: #c5cae9;
        font-family: 'Playfair Display', serif;
    }

    .pwc-icon {
        width: 23px;
        height: 23px;
        position: relative;
        top: 5px;
        margin-right: 5px;
        font-family: 'Playfair Display', serif;
    }

</style> -->
